div {
  color: antiquewhite;
  background-color: black;
  border-radius: 10%;
  text-align: left;
  height: 325px;
  width: 300px;
  border: 4px pink solid;
  font-size: smaller;
}
/* img{
    width: 30;
    height: 30;
    border-radius: 50%;
    margin: 15px;
} */

.slika1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 15px;
}

.slika2 {
  width: 290px;
  height: 170px;
  border-radius: 10%;
  margin-left: 5px;
}
