div{
    background-color: blanchedalmond;
    margin: 100px;
    width: 300px;
    height: 320px;
    text-align: center;
    border: 3px black solid;
   
    
    
    
}
img{
    width: 300px;
height: 200px;
margin: 0px;

}
