* {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: Acadetblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mapa {
  width: 60%;
  height: 100%;
  margin: 5%;
}
form {
  width: 25vw;
  height: 70vh;
  background-color: whitesmoke;

  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
input {
  width: 80%;
  height: 100%;
}

.kartica {
  background-color: aliceblue;
  width: 70%;
  height: 20%;
  background-color: antiquewhite;
  z-index: 2;
  position: relative;
  margin-top: 80vh 10vw;
}
